*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:'Poppins',sans-serif;
}

body{
    height:100vh;
    display:flex;
    justify-content:center;
    align-items:center;
    overflow:hidden;
    background:#111827;
}

.background{
    position:absolute;
    inset:0;
    background:linear-gradient(135deg,#4f46e5,#06b6d4,#9333ea);
    background-size:300% 300%;
    animation:gradient 8s infinite ease;
}

@keyframes gradient{

    0%{
        background-position:0% 50%;
    }

    50%{
        background-position:100% 50%;
    }

    100%{
        background-position:0% 50%;
    }

}

.card{

    position:relative;
    width:420px;

    padding:40px;

    background:rgba(255,255,255,.12);

    backdrop-filter:blur(20px);

    border-radius:25px;

    color:white;

    box-shadow:0 15px 40px rgba(0,0,0,.25);

}

h1{

    text-align:center;
    margin-bottom:5px;

}

.subtitle{

    text-align:center;
    opacity:.8;
    margin-bottom:30px;

}

.tabs{

    display:flex;
    gap:10px;
    margin-bottom:25px;

}

.tabs button{

    flex:1;

    border:none;

    padding:12px;

    border-radius:12px;

    cursor:pointer;

    background:#ffffff22;

    color:white;

    transition:.3s;

}

.tabs button.active{

    background:white;

    color:#4f46e5;

    font-weight:600;

}

label{

    display:block;

    margin-top:15px;

    margin-bottom:6px;

}

input{

    width:100%;

    padding:14px;

    border:none;

    outline:none;

    border-radius:12px;

    margin-bottom:10px;

    font-size:15px;

}

.main-btn{

    width:100%;

    margin-top:20px;

    padding:14px;

    border:none;

    border-radius:12px;

    cursor:pointer;

    font-size:16px;

    font-weight:600;

    color:white;

    background:linear-gradient(90deg,#4f46e5,#06b6d4);

    transition:.3s;

}

.main-btn:hover{

    transform:translateY(-2px);

}

#message{

    text-align:center;

    margin-top:20px;

    font-weight:600;

}

@media(max-width:500px){

.card{

width:90%;

padding:30px 25px;

}

}
